html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source Sans Pro, sans-serif; 
    font-size: 62.5%;/*10px Units*/
}

body {
    font-size: 1.6rem;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products__item {
    flex-basis: 26%;
    width: 300px;
    height: 550px;
    margin: 20px;
    font-size: 1em;
    color: #444;
}

.products__item__img {
    width: 100%;
    height: 50%;
    background-image: url("../images/tshirt.png");
    background-size: cover;
    background-position: center;
}

.products__item > img {
    width: 100%;
}