/*
  _____   _             __        __   __                       _        _   
 |_   _| (_)  _ __     / _|___    \ \ / /  __ _   _ _    _ _   (_)  __  | |__
   | |   | | | '  \    > _|_ _|    \ V /  / _` | | ' \  | ' \  | | / _| | / /
   |_|   |_| |_|_|_|   \_____|      |_|   \__,_| |_||_| |_||_| |_| \__| |_\_\
                                                                             
   Createn on 17. Sept. 2019
   by Tim Frey & Yannick Ruefenacht                                                                     
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------*/

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Source Sans Pro, sans-serif; 
    font-size: 62.5%;/*10px Units*/
}

body {
    font-size: 1.6rem;
    background: #f5f5f5;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.225em;
    color: #333;
    font-size: 1.2em;
    margin-bottom: 1.25em;
}

h2 {
    width: 100%;
    font-weight: bold;
    font-size: 1.35em;
    margin: 0.5em 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h3 {
    color: white;
    font-size: 2em;
    font-weight: 300;
    margin: 1em 0;
}

h4 {
    width: 100%;
    line-height: 1.15em;
}

hr {
    border: none;
    background: #ccc;
}

button[type="submit"], button[type="reset"] {
    width: 48%;
    padding: 0.9em;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    font-family: Source Sans Pro, sans-serif;
    font-size: 1em;
}

button:disabled {
    cursor: default;
    opacity: 0.6;
}

input[type="number"] {
    width: 100px;
    padding: 0.6em 0;
    margin: 0 1em;
    font-size: 1em;
    text-indent: 1em;
    font-family: Source Sans Pro, sans-serif;
    font-size: 1em;
}

input[type="text"], input[type="password"], input[type="email"] {
    font-family: Source Sans Pro, sans-serif;
    font-size: 1em;
}

::placeholder {
    font-family: Source Sans Pro, sans-serif;
    font-size: 1em;
}

/*--------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    padding: 1.5em 0;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px -10px #333;
    z-index: 1;
}
.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__languages, .header__icons {
    flex-basis: 20%;
}

.header__languages {
    margin-left: 2em;
}

.header__languages nav ul li {
    display: inline-block;
    cursor: pointer;
    margin: 0 0.5em;
}

.header__languages nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9em;
    color: inherit;
}

.header__languages nav ul li a:hover {
    font-weight: 700;
    color: #111;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__menu nav ul li {
    display: inline-block;
    padding: 0 0.5em;
    min-width: 100px;
    text-align: center;
}

.header__menu nav ul li a {
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 0.9em;
    font-weight: 400;
}

.header__menu nav ul li a:hover {
    color: #111;
    font-weight: 700;
}

.header__menu__line {
    width: 300px;
    margin-bottom: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu__line__hr {
    width: 100px;
    height: 1px;
    background: #999;
}

.header__menu__line__square {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    padding: 3px;
    background: rgb(40, 50, 70);
    transform: rotate(45deg);
    transition: 0.5s;
}

.header__menu__line__square img {
    transform: rotate(-45deg);
    width: 20px;
}

.header__icons {
    margin-right: 2em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header__icons nav ul li {
    display: inline-block;
    margin: 0 0.75em;
}

.header__icons__item {
    width: 30px;
    height: 30px;
    position: relative;
    color: #555;
    cursor: pointer;
    transform: scale(0.8);
}

.header__icons__item--cart {
    color: #777;
    animation-name: none;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    transform: scale(0.95);
}

@keyframes header__icons__item--beat {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1.0); }
}

.header__icons__item span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header__search {
    width: 100%;
    background: white;
    text-align: center;
}

.header__search__bar {
    width: 50%;
    outline: none;
    border: None;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    padding: 1em 0;
}

/*--------------------------------------------*/

.admin {
    position: relative;
    width: 70%;
    background: white;
    margin: 4em auto;
    padding: 3em 0;
    text-align: center;
}

.admin h3 {
    color: #555;
}

.admin nav {
    padding: 2em 0;
}

.admin nav ul li {
    display: inline-block;
    margin: 0 1em;
}

.admin nav ul li a {
    color: #333;
    text-decoration: none;
}

.admin nav ul li a span {
    text-transform: uppercase;
    letter-spacing: 0.225em;
}

.admin__list {
    padding: 2em 0;
}

.admin__list li {
    padding: 1em 0;
}

.admin__return {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 50px;
    height: 50px;
    margin: 1em;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------*/

main {
    padding-top: 9em;
}

/*--------------------------------------------*/

.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, .4);
}

.banner__overlay__title {
    color: white;
    font-size: 3.5em;
    font-weight: 700;
    padding: 1em 2em;
    margin: 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border: 2px solid white;
}

/*--------------------------------------------*/

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5em 0;
    background: white;
}

.products__empty {
    font-size: 3em;
    padding: 5em 0;
}

.products__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 26%;
    cursor: pointer;
    width: 300px;
    height: 450px;
    margin: 1.5em;
    color: #444;
    background: white;
    overflow: hidden;
}

.products__item__img {
    width: 100%;
    height: 75%;
    overflow: hidden;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__item__img > div {
    width: 80%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s;
}

.products__item__img > div:hover {
    transform: scale(1.1);
}

.products__item__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 25%;
    overflow: hidden;
}

.products__item__desc span {
    width: 100%;
    color: #003f5c;
}

.products__item__desc > * {
    margin: 0.25em 0;
}

.products__item__desc h2 {
    font-size: 1em;;
}

.products__item__desc h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*--------------------------------------------*/

footer {
    background: #444;
    text-align: center;
}

footer p {
    padding: 5em;
    color: white;
}

footer a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted rgba(255, 255, 255, .4);
}

/*--------------------------------------------*/

.form {
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form--register {
    background-image: url("../images/register.jpg");
}

.form--login {
    background-image: url("../images/login.jpg");
}

.form__container {
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__container__input {
    width: 300px;
    display: block;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 1em 0;
    padding: 0.9em;
    outline: none;
    box-sizing: border-box;
}

.form__container__input--error {
    border: 1px solid #f66767;
}

.form__container__error {
    background: #f66767;
    border-radius: 3px;
    color: white;
    width: 300px;
    margin: 1em 0;
    padding: 1em;
    box-sizing: border-box;
}

.form__container__buttons {
    display: flex;
    justify-content: space-between;
}

.form__container__buttons__reset {
    background: transparent;
    color: white;
    align-self: flex-start;
}

.form__container__buttons__submit {
    background: white;
    color: #333;
    align-self: flex-end;
}

.form__container__hint {
    color: #eee;
    margin: 1em 0;
}

.form__container__hint a {
    color: inherit;
    border-bottom: 1px dotted #aaa;
}

/*--------------------------------------------*/

.profile {
    width: 50%;
    background: white;
    margin: 3em auto;
    padding: 4em 4em;
}

.profile__name {
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 2em;
    text-transform: capitalize;
    margin: 1em 0;
}

.profile__h3 {
    width: 100%;
    color: #444;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-top: 4em;
}

.profile__section__email {
    width: 300px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}

button.profile__section__submit {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.3em;
    background: #407088;
    margin-top: 2em;
    width: 200px;
}

button.profile__section__submit--success {
    background: #42b883;
}

/*--------------------------------------------*/

.product {
    width: 100%;
    background: white;
    display: flex;
}

.product__view {
    width: 50%;
    height: 50vw;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product__view__img {
    width: 65%;
    height: 65%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product__view__hr {
    width: 350px;
    height: 1px;
    margin: 2em 0;
}

.product__view__colors {
    display: flex;
    flex-direction: row;
}

.product__view__colors__radio {
    width: 30px;
    height: 30px;
    margin: 0 0.5em;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid gray;
    display: inline-block;
}

.product__view__colors__radio--selected {
    border-color: #f66767;
}

.product__info {
    width: 50%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product__info > * {
    width: 70%;
}

.product__info h5 {
    font-weight: 400;
    font-size: 1.45em;
    color: #003f5c;
}

.product__info__size {
    width: 200px;
    padding: 0.5em 0;
    margin: 2em 0;
    cursor: pointer;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
}

.product__info__hr {
    width: 80%;
    height: 1px;
    margin: 0 0 2em;
}

button.product__info__submit {
    display: block;
    min-width: 280px;
    background: #407088;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.225em;
    padding: 1.5em 0;
}

/*--------------------------------------------*/

.basket {
    width: 60%;
    background: white;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7em 0;
}

.basket h3 {
    color: #555;
    margin: 0;
}

.h3__hr {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto;
}

.h3__hr__line {
    width: 100px;
    height: 1px;
    background: #ddd;
}

.h3__hr__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ddd;
}

.basket__empty {
    width: 100%;
    height: 57.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.basket__empty--profile {
    height: 30vh;
}

.basket__empty p {
    font-weight: 300;
    font-size: 1.25em;
    margin: 1em 0;
}

.basket__empty__icon {
    width: 100px;
    height: 100px;
    margin: 1em;
    border-radius: 50%;
    border: 1px solid #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
}

.basket__empty__icon img {
    width: 30px;
    height: 30px;
}

.basket ul {
    width: 85%;
}

.basket ul li {
    padding: 2em;
    border-bottom: 1px solid #eee;
}

.basket ul li:last-child {
    border-bottom: none;
}

.basket__item {
    height: 150px;
    width: 100%;
    background: white;
    display: flex;
}

.basket__item__img {
    width: 20%;
    height: 100%;
    background-color: #f7f7f7;
}

.basket__item__img a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket__item__img div {
    width: 80%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.basket__item__info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.basket__item__info p {
    color: #777;
    margin: 0.25em 1em;
}

.basket__item__info form {
    margin: auto 0 0 0;
}

button.basket__item__info__submit {
    margin-top: auto;
    color: #555;
    font-size: 0.85em;
    width: auto;
    background: transparent;
}

.basket__item__right {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.basket__item__right span {
    font-weight: 700;
    margin-top: auto;
}

input.basket__item__right__number {
    margin: 0;
} 

.basket__form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.basket__checkout {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    width: 280px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: white;
    background: #407088;
    margin-top: 4em;
    padding: 1.5em 0;
}

/*--------------------------------------------*/

.checkout {
    width: 60%;
    background: white;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7em 0;
}

.checkout h3 {
    color: #555;
    margin: 0;
}

.checkout h4 {
    margin: 1em 0;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.checkout__products {
    width: 100%;
}

.checkout__products li {
    width: 80%;
    height: 100px;
    display: flex;
    margin: 0 auto;
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
}

.checkout__products li:nth-last-child(2) {
    border-bottom: none;
}

.checkout__products--profile li {
    margin: 0;
}

.checkout__products__img {
    width: 100px;
    height: 100px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout__products__img a {
    width: 80%;
    height: 80%;
}

.checkout__products__img a div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.checkout__products__desc {
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.checkout__products__desc span {
    margin: 0 1em;
}

.checkout__products__desc__separator {
    width: 1px;
    height: 10px;
    background: #222;
    display: inline-block;
}

li.checkout__products__total {
    border-bottom: none;
    border-top: 1px solid #111;
    height: 40px;
    justify-content: space-between;
    font-weight: 700;
    margin: 0 auto;
    text-transform: uppercase;
}

li.checkout__products__total span {
    margin: 0 1em;
}

.checkout__form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.checkout__form h4 {
    text-align: left;
}

.checkout__form__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}

.checkout__form__section input {
    outline: none;
    padding: 1em 0;
    border: none;
    border-bottom: 1px solid black;
}

.checkout__form__section--wrap2 {
    flex-wrap: wrap;
}

.checkout__form__section--wrap2 input {
    flex-basis: 48%;
}

.checkout__form__section--cards {
    justify-content: flex-start;
    margin-top: 2em;
    margin-bottom: 2em;
}

.checkout__form__section--cards i {
    margin-right: 0.5em;
}

.checkout__form__error {
    width: 100%;
    padding: 2em 0;
    color: white;
    background: #f66767; 
}

.checkout__form__submit {
    background-color: #407088;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    padding: 1.5em 0;
    color: white;
    margin: 3em auto 0 auto;
}