.products {
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    color:#666;

}

.products > div {
    min-width: 100px;
    min-height: 100px;
    max-width: 439px;
    margin:5px;
    padding:25px;
    background:#ccc;
    border:1px solid #bbb;
    font-size:24pt;
    color:#666;
}

.products > div > img{
    max-width: 350px;
}